<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phone.erp.boss.mapper.sales.WholesaleReportMapper">

<!-- 批发战报 -->
    <!-- 批发战报公共查询条件 -->
    <sql id="queryCondition">
        AND T.GROUP_ID = #{groupId}
        <if test="null!=startDate">
            AND t.BILLS_DATE &gt;= to_date(#{startDate},'YYYY-MM-DD')
        </if>
        <if test="null!=endDate">
            AND t.BILLS_DATE &lt;= to_date(#{endDate},'YYYY-MM-DD')
        </if>
        <if test="null!=goodsClassId">
            AND TG.FIRST_GOODS_CATEGORY_ID = #{goodsClassId}
        </if>
        <if test="null!=goodsBrandId">
            AND TG.GOODS_BRAND_ID =#{goodsBrandId}
        </if>
        <if test="null!=keyWord">
            <if test="groupField=='customerName'">AND(UPPER(TCU.NAME) LIKE UPPER('%${keyWord}%')OR UPPER(TCU.CODE) LIKE UPPER('%${keyWord}%'))</if>
            <if test="groupField=='salesManName'">AND(UPPER(TE.NAME) LIKE UPPER('%${keyWord}%')OR UPPER(TE.CODE) LIKE UPPER('%${keyWord}%'))</if>
            <if test="groupField=='goodsName'">
                AND (UPPER(TGC.NAME) LIKE UPPER('%${keyWord}%')OR
                UPPER(TGB.NAME) LIKE UPPER('%${keyWord}%')OR
                UPPER(TG.GOODS_MODEL) LIKE UPPER('%${keyWord}%')OR
                UPPER(TG.NAME) LIKE UPPER('%${keyWord}%')OR
                UPPER(TG.REM_CODE) LIKE UPPER('%${keyWord}%')OR
                UPPER(TGS.NO) LIKE UPPER('%${keyWord}%')
                )
            </if>
        </if>
        AND T.COMPANY_ID IN(${companyIds})
        AND T.SECTION_ID IN(${sectionIds})
    </sql>
    <!-- 公共字段 -->
    <sql id="commonFields">
        <if test="groupField=='customerName'">
           TCU.ID AS ID,TCU.CODE AS CODE,TCU.NAME AS NAME,
        </if>
        <if test="groupField=='salesManName'">
           TE.ID AS ID,TE.CODE AS CODE,TE.NAME AS NAME,
        </if>
        <if test="groupField=='goodsName'">
           TG.ID AS ID,TG.CODE AS CODE,TG.NAME AS NAME,
        </if>
    </sql>
    <!-- 公共关联表 -->
    <sql id="commonTables">
        JOIN T_COMPANY TC ON T.COMPANY_ID = TC.ID
        JOIN I_STORAGE IST ON T1.STORAGE_ID = IST.ID
        JOIN T_SECTION TS  ON IST.SECTION_ID = TS.ID
        JOIN T_GOODSNAME TG  ON T1.GOODS_ID = TG.ID
        LEFT JOIN T_EMPLOYEE TE ON T.MANAGERS_UID=TE.ID
        LEFT JOIN T_GOODSALIAS TGS  ON TG.ID = TGS.GOODS_ID AND T.COMPANY_ID=TGS.COMPANY_ID
        LEFT JOIN T_GOODSCLASS TGC  ON TG.GOODS_CATEGORY_ID =TGC.ID AND TGC.STATUS = 0
        LEFT JOIN T_GOODSBRAND TGB  ON TG.GOODS_BRAND_ID =TGB.ID
        LEFT JOIN T_CONTACT_UNIT TCU ON TCU.ID = T.CONTACTSUNIT_ID
    </sql>

    <!-- 核心sql -->
    	<sql id="codeSqlAndQueryCondition">
            SELECT        <include refid="commonFields"/>
                T1.GOODS_NUMBER                                    AS GOODSQUANTITY,
                NVL(T1.DISCOUNTED_AMOUNT,0)                        AS GOODSAMOUNT,
                NVL(T1.DISCOUNTED_AMOUNT,0) - NVL(T1.COST_PRICE,0) AS GOODSPROFITAMOUNT
            FROM I_SALES_MAIN T
                JOIN I_SALES_OUTSTRORAGE_NUM T1 ON T.ID=T1.BILLS_MAIN_ID
                <include refid="commonTables"/>
             WHERE  T.BILLS_TYPE IN ('19','20')
                <include refid="queryCondition"/>
          UNION ALL
            SELECT         <include refid="commonFields"/>
                -T1.GOODS_NUMBER                                        AS GOODSQUANTITY,
                -NVL(T1.DISCOUNTED_AMOUNT,0)                           AS GOODSAMOUNT,
                -(NVL(T1.DISCOUNTED_AMOUNT,0) - NVL(T1.COST_PRICE,0)) AS GOODSPROFITAMOUNT
            FROM I_SALES_MAIN T
                JOIN I_SALES_INSTRORAGE_NUM T1 ON T.ID=T1.BILLS_MAIN_ID
                <include refid="commonTables"/>
              WHERE  T.BILLS_TYPE IN ('21','20')
                <include refid="queryCondition"/>
        </sql>
    <!-- 获取批发战报主页分页参数 -->
    <select id="getPageData" resultType="com.phone.erp.boss.vo.sales.WholesaleReportVo">
        SELECT ID,CODE,NAME,SUM(GOODSQUANTITY)AS GOODSQUANTITY,SUM(GOODSAMOUNT)AS GOODSAMOUNT
        <if test="canSeeAmount==1">  ,
            TO_CHAR(SUM(GOODSPROFITAMOUNT))AS GOODSPROFITAMOUNT,
            TO_CHAR(ROUND(JXC_ALL_PCK.CHECK_DIVIDE(SUM(GOODSPROFITAMOUNT), ABS(SUM(GOODSQUANTITY))),2))AS GOODSAVGPROFITAMOUNT
        </if>
            FROM(
                   <include refid="codeSqlAndQueryCondition"/>
            )
                GROUP BY ID,CODE,NAME
                ORDER BY ID,CODE,NAME
    </select>

    <!-- 获取批发战报主页总计行对象 -->
    <select id="getTotalVo" resultType="com.phone.erp.boss.vo.sales.WholesaleReportVo">
        SELECT SUM(GOODSQUANTITY)AS GOODSQUANTITY,SUM(GOODSAMOUNT)AS GOODSAMOUNT
        <if test="canSeeAmount==1">  ,
            TO_CHAR(SUM(GOODSPROFITAMOUNT))AS GOODSPROFITAMOUNT,
            TO_CHAR(ROUND(JXC_ALL_PCK.CHECK_DIVIDE(SUM(GOODSPROFITAMOUNT), ABS(SUM(GOODSQUANTITY))),2))AS GOODSAVGPROFITAMOUNT
        </if>
        FROM(
            <include refid="codeSqlAndQueryCondition"/>
        )
    </select>
    
</mapper>