<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phone.erp.boss.mapper.retail.ThirdPartyDeductionReportMapper">
<!-- 第三方抵扣战报 -->
    <!-- 公共查询条件 -->
    	<sql id="queryCondition">
        	 where T.GROUP_ID =#{groupId}
        			AND R.BILLS_STATUS =6
                <if test="null!=startDate">
                    AND R.BILLS_DATE &gt;= to_date(#{startDate},'YYYY-MM-DD')
                </if>
                <if test="null!=endDate">
                    AND R.BILLS_DATE &lt;= to_date(#{endDate},'YYYY-MM-DD')
                </if>
                <if test="null!=deductionUnitsId">
                    AND TCU.ID=#{deductionUnitsId}
                </if>
                <if test="null!=activityNamesId">
                    AND IC.ID =#{activityNamesId}
                </if>
                <if test="null!=keyWord">
                    <if test="groupField=='sectionName'">AND(UPPER(TS.NAME) LIKE UPPER('%${keyWord}%')OR UPPER(TS.CODE) LIKE UPPER('%${keyWord}%'))</if>
                    <if test="groupField=='salesManName'">AND(UPPER(TE.NAME) LIKE UPPER('%${keyWord}%')OR UPPER(TE.CODE) LIKE UPPER('%${keyWord}%'))</if>
                    <if test="groupField=='couponName'">AND(
                        UPPER(IC.COUPON_NAME) LIKE UPPER('%${keyWord}%')OR
                        UPPER(TCU.CODE) LIKE UPPER('%${keyWord}%')OR
                        UPPER(TCU.NAME) LIKE UPPER('%${keyWord}%'))</if>
                    <if test="groupField=='contactunitName'">AND(UPPER(TCU.CODE) LIKE UPPER('%${keyWord}%')OR UPPER(TCU.NAME) LIKE UPPER('%${keyWord}%'))</if>
                </if>
                      AND R.COMPANY_ID IN(${companyIds})
                      AND R.SECTION_ID IN(${sectionIds})
    	</sql>
    <sql id="groups">
        <if test="groupField=='sectionName'">ID,CODE,NAME</if>
        <if test="groupField=='salesManName'">ID,CODE,NAME</if>
        <if test="groupField=='couponName'">CONTACTUNITID,CONTACTUNITCODE,CONTACTUNITNAME,ID,CODE,NAME</if>
        <if test="groupField=='contactunitName'">ID,CODE,NAME</if>
    </sql>
    <!-- 核心sql -->
    	<sql id="codeSqlAndQueryCondition">
                SELECT DISTINCT T.ID BILLID,
                  <if test="groupField=='sectionName'">
                      TS.ID                          AS ID,
                      TS.NAME                        AS NAME,
                      TS.CODE                        AS CODE,
                  </if>
                  <if test="groupField=='salesManName'">
                      TE.ID                          AS ID,
                      TE.NAME                        AS NAME,
                      TE.CODE                        AS CODE,
                  </if>
                  <if test="groupField=='couponName'">
                      IC.ID                          AS CONTACTUNITID,
                      IC.COUPON_NAME                 AS CONTACTUNITNAME,
                      IC.COUPON_CODE                 AS CONTACTUNITCODE,
                      TCU.ID                         AS ID,
                      TCU.NAME                       AS NAME,
                      TCU.CODE                       AS CODE,
                  </if>
                  <if test="groupField=='contactunitName'">
                        TCU.ID                         AS ID,
                        TCU.NAME                       AS NAME,
                        TCU.CODE                       AS CODE,
                  </if>
                    DECODE(R.BILLS_TYPE,45,1,-1)   AS GOODSQUANTITY,
                    T.AMOUNT                       AS GOODSAMOUNT
                FROM I_RETAIL_COUPON T
                    JOIN I_COUPON IC ON T.COUPON_ID =IC.ID
                    JOIN I_RETAIL R ON T.RETAIL_ID = R.ID
                    LEFT JOIN I_RETAIL_DETAIL T1 ON R.ID = T1.RETAIL_ID
                    LEFT JOIN T_EMPLOYEE TE ON T.SALESMAN1 = TE.ID
                    LEFT JOIN I_STORAGE IST ON T1.STORAGE_ID = IST.ID
                    LEFT JOIN T_COMPANY TC ON R.COMPANY_ID = TC.ID
                    LEFT JOIN T_SECTION TS ON R.SECTION_ID = TS.ID
                    LEFT JOIN T_CONTACT_UNIT TCU ON IC.CONTACT_UNIT_ID = TCU.ID
                  <include refid="queryCondition"/>
    	</sql>
    <!-- 获取第三方抵统计主页分页集合 -->
    <select id="getPageData" resultType="com.phone.erp.boss.vo.retail.ThirdPartyDeductionReportVo">
        SELECT <include refid="groups"/>,SUM(GOODSQUANTITY)AS GOODSQUANTITY,
                TO_CHAR(ROUND(JXC_ALL_PCK.CHECK_DIVIDE(SUM(GOODSAMOUNT), SUM(GOODSQUANTITY)),2))AS GOODSPRICE,
                TO_CHAR(SUM(GOODSAMOUNT))AS GOODSAMOUNT
            FROM(
                        <include refid="codeSqlAndQueryCondition"/>
            )
        GROUP BY <include refid="groups"/>
        ORDER BY <include refid="groups"/>
    </select>
    <!-- 第三方抵扣战报主页总计行对象 -->
    <select id="getTotalVo" resultType="com.phone.erp.boss.vo.retail.ThirdPartyDeductionReportVo">
         SELECT SUM (GOODSQUANTITY)GOODSQUANTITY,
                    TO_CHAR(ROUND(JXC_ALL_PCK.CHECK_DIVIDE(SUM(GOODSAMOUNT), SUM(GOODSQUANTITY)),2))AS GOODSPRICE,
                    TO_CHAR(SUM(GOODSAMOUNT))AS GOODSAMOUNT
              FROM ( <include refid="codeSqlAndQueryCondition"/>)
    </select>
    
</mapper>