<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phone.erp.boss.mapper.storage.TurnOverDayRateMapper">
<!-- 周转天数分析 -->
    <!-- 获取周转天数分析主页数据 -->
    <select id="getPageData" resultType="com.phone.erp.boss.vo.storage.TurnOverDayRateVo">
         SELECT '周转天数'NAME FROM dual
    </select>
    
</mapper>