<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phone.erp.boss.mapper.storage.TurnOverRateMapper">
<!-- 周转率分析 -->
    <!-- 查询条件 -->
    <!-- 公共查询条件 -->
    	<sql id="queryCondition">
                <if test="null!=goodsClassId">
                    AND TG.FIRST_GOODS_CATEGORY_ID = #{goodsClassId}
                </if>
                <if test="null!=keyWord">
                    AND (UPPER(TGC.NAME) LIKE UPPER('%${keyWord}%')OR
                    UPPER(TGB.NAME) LIKE UPPER('%${keyWord}%')OR
                    UPPER(TG.GOODS_MODEL) LIKE UPPER('%${keyWord}%')OR
                    UPPER(TG.NAME) LIKE UPPER('%${keyWord}%')OR
                    UPPER(TG.REM_CODE) LIKE UPPER('%${keyWord}%')OR
                    UPPER(TGS.NO) LIKE UPPER('%${keyWord}%'))
                </if>
                    AND TC.ID IN(${companyIds})
                    AND TS.ID IN(${sectionIds})
    	</sql>
    <!-- 公共字段 -->
    <sql id="commonFields">
        <if test="groupField=='companyName'">
            TC.NAME
        </if>
        <if test="groupField=='sectionName'">
            TS.NAME
        </if>
        <if test="groupField=='goodsClassName'">
            TGC.NAME
        </if>
        <if test="groupField=='goodsBrandName'">
            TGB.NAME
        </if>
        <if test="groupField=='goodsModelName'">
            TG.GOODS_MODEL
        </if>
    </sql>

    <!-- 存货周转率公式 -->
    <sql id="turnroundRate">
        JXC_ALL_PCK.CHECK_DIVIDE(2*(endAmount-startAmount),(endAmount+startAmount))*100
    </sql>

    <!-- 获取周转率分析主页分页集合 -->
    <select id="getDataList" resultType="com.phone.erp.boss.vo.storage.TurnOverRateVo">
        SELECT NAME ,ROUND(TURNROUNDRATE,2)TURNROUNDRATE ,T.RN RANKING
            FROM (
                    SELECT NAME,<include refid="turnroundRate"/> TURNROUNDRATE,DENSE_RANK() OVER (ORDER BY <include refid="turnroundRate"/> DESC)  RN
                        FROM(
                            SELECT <include refid="commonFields"/> NAME,
                                SUM(CASE WHEN T.BILLS_DATE &lt; TO_DATE(#{startDate},'yyyy-mm-dd') THEN T.GOODS_COSTAMOUNT*T.FLAG ELSE 0 END) STARTAMOUNT,
                                SUM(CASE WHEN T.BILLS_DATE &lt;= TO_DATE(#{endDate},'yyyy-mm-dd') THEN T.GOODS_COSTAMOUNT*T.FLAG ELSE 0 END) ENDAMOUNT
                              FROM I_STOCK_FTP T
                                    JOIN T_COMPANY      TC  ON T.COMPANY_ID = TC.ID
                                    JOIN I_STORAGE      IST ON T.STORAGE_ID = IST.ID
                                    JOIN T_SECTION      TS  ON IST.SECTION_ID = TS.ID
                                    JOIN T_GOODSNAME    TG  ON TG.ID = T.GOODS_ID
                                    LEFT JOIN T_GOODSALIAS TGS  ON TG.ID = TGS.GOODS_ID AND T.COMPANY_ID=TGS.COMPANY_ID
                                    JOIN T_GOODSCLASS   TGC ON TG.GOODS_CATEGORY_ID = TGC.ID
                                    LEFT JOIN T_GOODSBRAND TGB ON TG.GOODS_BRAND_ID = TGB.ID
                                WHERE 1=1 <include refid="queryCondition"/>
                               GROUP BY <include refid="commonFields"/>
                        )
            )T  WHERE T.RN &lt;=10
    </select>
    
</mapper>